body {
    font-family: Arial, sans-serif;
    background-color: #e8f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    width: 300px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #28A745;
    color: white;
    border: none;
    cursor: pointer;
}
